* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: content-box !important;  
  	-moz-box-sizing: content-box !important;
  	 box-sizing: content-box !important; 
}

body {
	/*background-color: #E0E0E0;*/
	position: relative;
	background: -webkit-linear-gradient(top, #E0E0E0, #fff);
	background: -webkit-linear-gradient(top, #E0E0E0, #fff);
	background: -moz-linear-gradient(top, #E0E0E0, #fff);
	background: -ms-linear-gradient(top, #E0E0E0, #fff);
	background: linear-gradient(top, #E0E0E0, #fff);
}

.clearfix:after{
	content: "."; 
	display: block;  
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0; 
	font-size:0;
} 
.clearfix { *zoom:1;} 
}

.head {
	width: 100%;
	padding: 25px 0 20px 0;
}

.head .wrap {
	width: 960px;
	height: 63px;
	position: relative;
	margin: 0 auto;
	background: url(../images/motto.png) no-repeat right;
}
.head .context {
	position: absolute;
	left: 280px;
	top: 21px;
	font-family: "microsoft yahei";
	font-size: 16px;
}



/*导航 开始*/

.navList {
	margin: 0 auto;
	width: 960px;
	height: 25px;
	background-color: #2DCB70;
	border-radius: 5px 5px 0 0;
	position: relative;
}
a {
	text-decoration: none;
	/*color: white;*/
}
a:focus, a:hover{
	text-decoration: none !important;
}
.navList .connection {
	width: 120px;
	display: inline-block;
	margin-left: 60px;
	color: #fff;
	font-family: "microsoft yahei";
	font-size: 16px;
}
.navList .connection:hover{
	color:yellow;
}
#navbottomtip {
	position: absolute;
	margin-left: 45px;
	height: 3px;
	width: 62px;
	background: greenyellow;
	display: none;
}
.btn-active {
	color: yellow;
}

/*导航 结束*/
/*轮播开始*/

#jnImageroll {
	height: 320px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 960px;
}
#jnImageroll img {
	position: absolute;
	left: 0;
	top: 0;
}
#jnImageroll div {
	bottom: 11px;
	overflow: hidden;
	position: absolute;
	float: left;
}
#jnImageroll div em {
	font-style: normal;
	margin: 0 auto;
}
#jnImageroll div a {
	background-color: #444444;
	color: #FFFFFF;
	display: inline-block;
	float: left;
	height: 32px;
	margin-right: 1px;
	overflow: hidden;
	padding: 5px 15px;
	text-align: center;
	width: 161px;
	font-size: 14px;
	font-family: "microsoft yahei";
}
#jnImageroll div a:hover {
	text-decoration: none;
}
#jnImageroll div a em {
	cursor: pointer;
	display: block;
	height: 16px;
	overflow: hidden;
	width: 79px;
}
#jnImageroll .last {
	margin: 0;
	width: 162px;
}
#jnImageroll a.chos {
	background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
	color: #FFFFFF;
}
/*轮播结束*/

.img-wrap{
	width: 960px;
	height: 150px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/school.jpg);
}


.contain{
	width: 960px;
	margin: 0 auto;
}
.news-center{
	margin: 0;
	}
.news_type{
	width: 206px;
	height: 350px;
	border: 1px solid #e8e8e8;
	float: left;
	background: whitesmoke;
}
.project_news_type{
	width: 237px;
	height: 267px;
	border: 1px solid #e8e8e8;
	float: left;
}
.list_box{
	width: 750px;
	min-height: 460px;
	_height:350px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	float: right;
}
.project_list_box{
	width: 719px;
	min-height: 463px;
	_height:350px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	float: right;
}
.news_type h2,.project_news_type h2{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666;
	background: url(../images/titile_bg.gif) repeat-x;
	padding-left: 20px;
}
.new_type_content{
	
	
	/*background:  url(../images/content_bg.gif) repeat-x;*/
}
.active-li{
	  color: #009cdf !important;
	  background: url(../images/li_bg2.gif) no-repeat left center !important;
	  background-color: #f2f2f2 !important;
	}
.nav-tabs{
	
	background: whitesmoke;
	}
.nav-tabs-li{
		height: 232px;
		}
.nav-tabs-li li a{
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.new_type_content li{
	list-style-type: none;
	
	height: 30px;
	line-height: 30px;
	/*overflow: hidden;
	text-overflow: ellipsis;*/
}
.new_type_content li a{
	width:218px;
	color: #666;
	text-decoration: none;
	background:url(../images/li_bg.gif)no-repeat 3px center;
	padding: 10px 0;
	padding-left: 17px;
	font-family: "微软雅黑","microsoft yahei";
	display: block;
	font-size: 14px;
	

}
.new_type_content li a:hover{
	color: #009cdf;
	background:url(../images/li_bg2.gif) no-repeat  left center;
	background-color: #f2f2f2;
}
.list_box h2,.project_list_box h2{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666;
	height: 35px;
	line-height: 35px;
	background:url(../images/type_bg.png) repeat-x;
	padding-left: 20px;
}
.list_box h1,.project_list_box h1{
	font-size: 20px;
	font-family: "微软雅黑";
	text-align: center;margin: 10px 0;

}
.list_box_newsInfo{
	color: #666;
	text-align: center;
	margin: 0;
	
}
.list_box_newsContent{
	font-size: 14px;
	padding: 20px;
	line-height: 25px;
	text-indent: 2em;
}
.panel{
	margin-bottom: 0 !important;
	font-family: "微软雅黑";
	}
.caption{
	text-align: center;
}
.pagination{
	margin: 5px 0 0 0 !important;	
}
.breadcrumb{
	margin: 0 !important;
	padding: 8px 0 0 0 !important;
	float: right;
	position: relative;
	top:-8px;
	}

.footer {
	height: 64px;
	color: white;
	text-align: center;
	/*line-height: 80px;*/
	font-size: 13px;
	font-family: "microsoft yahei";
	background-image: url(../images/footer_background.jpg) ;
}
.footer p{
	padding-top: 26px;
}
.footer p span{
	cursor: pointer;
}
.contactstyle{
	width: 333px;
	margin: 0 auto;
	padding-top: 30px;
	padding-right: 36px;
}
.contactstyle img{
	margin-top:17px;
}
.shareto{
	height: 75px;
	width: 75px;
	float:left;
	margin-left:36px;
	background: url(../images/share_normal.png) no-repeat;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	
}
.shareto img{
	vertical-align:baseline !important;
}
.contactstyle .shareto:hover{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);		/* IE 9 */
	-webkit-transform: rotate(360deg);	/* Safari and Chrome */
	-o-transform: rotate(360deg);		/* Opera */
	-moz-transform: rotate(30deg);	
	transform-origin: 50% 70%;
}


/*模态框图片居中*/
.modal-body{
	text-align: center;
}

#myModal .modal-dialog{
/* SET THE WIDTH OF THE MODAL 设置Modal的宽度*/
min-width: 1100px;
/* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
margin: 0 auto; 
}

/*.row{
	margin-left: 0;
	margin-right: 0;
	}*/
	



/*可变搜索框 开始*/

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot');
	src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.sb-search {
	position: absolute;
	top: -5px;
	right: 200px;
	margin-top: 10px;
	width: 0;
	min-width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0px;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 0 0 0 5px;
	text-indent: 10px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}
.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}
.sb-search-input:-moz-placeholder {
	color: #efb480;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}
.sb-icon-search,
.sb-search-submit {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	position: absolute;
	top: 0px;
	background: #fff;
	/* IE needs this */
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 8 */
	
	filter: alpha(opacity=0);
	/* IE 5-7 */
	
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search {
	position: absolute;
	top: 0px;
	color: #fff;
	background: #e67e22;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.sb-icon-search:before {
	content: "\e000";
}
/* Open state */

.sb-search.sb-search-open,
.no-js .sb-search {
	width: 300px;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
/*可变搜索框 结束*/

/*人物列表开始*/
.row .col-md-2{
	margin: 0 10px;
}
.restrictImg{
	  text-align: center;
}
/*人物列表结束*/